<h2>pokemon
    <a href="/pokemon/new">(+)</a>
</h2>

<ul>
    <% @pokemons.each do |pokemon| %>
    <li>
        <a href="/pokemons/<%= pokemon.id %>">
            <%= pokemon.name %>
        </a>
    </li>
    <% end %>
</ul>
