<html>
  <head>
    <title>pokemon</title>
    <link rel="stylesheet" href="/pokestyle.css">
  </head>
  <body>
    <h1>pokemon</h1>
    <nav>
      <a href="/pokemon">pokemon</a>
      <!-- <a href="/artists">Artists</a> -->
    </nav>
    <%= yield %>
  </body>
</html>
